@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<h1>@ViewData["Title"]</h1>
<hr />
<div class="alert alert-danger">
    <p>Họ và tên : HOàng Văn Nghĩa</p>
    <p>Lớp: N03</p>
    <p>Học phần: Lập trình web</p>
    <p>Email:
        <a href="mailto:nghiahoang14022005@gmail.com" title="nghiahoang14022005@gmail.com">nghiahoang14022005@gmail.com</a>
    </p>
    <p>Số điện thoại:
        <a href="tel:0374687375" title="0374687375">0374687375</a>
     </p>
</div>
