
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - layOut_12_9 - <b>Hoàng Văn Nghĩa</b>
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

